<h1>Edit User</h1>

<%= form_for @user, :url => say_what_user_path(@user) do |f| %>
  <%= render(:partial => 'shared/errors', :object => @user) %>
  <%= render(:partial => 'form', :locals => { :f => f }) %>
<% end %>
