<h1>Editing Session Type</h1>

<%= form_for(@session, :url => session_path(@session)) do |f| %>
  <%= render(:partial => 'shared/errors', :object => @session ) %>
  <%= render(:partial => 'form', :locals => { :f => f }) %>
<% end %>
