<h1>Sessions</h1>

<%= paginate @sessions %>
<% @sessions.each_with_index do |session, index| %>
  <%= render(:partial => 'sessions/session', :object => session, :locals => { :index => index }) %>
<% end %>
<%= paginate @sessions %>
