<h1>New Season</h1>

<%= form_for(@season, :url => say_what_seasons_path) do |f| %>
  <%= render(:partial => 'shared/errors', :object => @season) %>
  <%= render(:partial => 'form', :locals => { :f => f }) %>
<% end %>
