<h1>New Session</h1>

<%= form_for(@session, :url => say_what_sessions_path) do |f| %>
  <%= render(:partial => 'shared/errors', :object => @session) %>
  <%= render(:partial => 'form', :locals => { :f => f }) %>
<% end %>
