<h1>Edit '<%= @league.name %>' in '<%= @super_league.name %>'</h1>
<%= form_for(@league, :url => super_league_league_path(@super_league, @league)) do |f| %>
  <%= render(:partial => 'form', :locals => { :f => f }) %>
<% end %>
