<h1><%= @track.name %></h1>
<%= link_to('Edit', edit_say_what_track_path(@track)) %> | <%= link_to('Destroy', say_what_track_path(@track), :method => :delete, :data => { :confirm => 'Are you sure?' }) %>
