<h1>Password reset for <%= @user.name %></h1>
<p>
  A password reset request has been made for you for the racingleaguecharts.com site. If this was done by you, click the link below to continue the process:
</p>
<p>
  <%= reset_password_user_url(@user, :token => @token, :host => 'https://racingleaguecharts.com') %>
</p>
<p>If you didn't request this, you can safely ignore it. If you have concerns, please contact me at lordp@addict.net.nz</p>
