<h1>Editing Screenshot</h1>

<%= form_for(@screenshot, :url => say_what_screenshot_path(@screenshot)) do |f| %>
  <%= render(:partial => 'shared/errors', :object => @screenshot ) %>
  <%= render(:partial => 'form', :locals => { :f => f }) %>
<% end %>