<h1>New Screenshot</h1>

<%= form_for(@screenshot, :url => say_what_screenshots_path) do |f| %>
  <%= render(:partial => 'shared/errors', :object => @screenshot) %>
  <%= render(:partial => 'form', :locals => { :f => f }) %>
<% end %>
