<h1>Leagues</h1>
<p><%= link_to 'Create', new_admin_league_path %></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
<% @leagues.each do |league| %>
  <tr>
    <td><%= link_to(league.name, edit_admin_league_path(league)) %></td>
  </tr>
<% end %>
  </tbody>
</table>
