<h1>New league</h1>

<%= form_for(:league, :url => admin_leagues_path) do |f| %>
  <%= render(:partial => 'form', :locals => { :f => f }) %>
  <p><%= f.submit 'Save', :class => 'btn btn-primary' %> <%= link_to('Cancel', admin_leagues_path, :class => 'btn btn-danger') %></p>
<% end %>
