<div>
  Link to this chart <%= link_to("using 'show'", chart_race_path(@race), :id => "show_chart_#{chart}") %> |
  <%= link_to("using 'hide'", chart_race_path(@race), :id => "hide_chart_#{chart}") %>
</div>
