<h1>Races</h1>

<p><%= link_to('New Race', new_super_league_league_season_race_path(@super_league, @league, @season)) %></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @races.each do |race| %>
    <tr>
      <td><%= race.name %></td>
      <td><%= link_to('Chart', chart_super_league_league_season_race_path(@super_league, @league, @season, race)) %> | <%= link_to('Edit', edit_super_league_league_season_race_path(@super_league, @league, @season, race)) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
