<h1>Races</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Track</th>
      <th>Length</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @races.each do |race| %>
    <tr>
      <td><%= race.name %></td>
      <td><%= race.length %></td>
      <td><%= link_to('Edit', edit_race_path(race)) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
