<h1>Races</h1>

<%= paginate @races %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
  <% @races.each do |race| %>
    <tr>
      <td><%= link_to(race.full_name, race_path(race)) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @races %>
