<h1>New Race</h1>

<%= form_for(@race, :url => say_what_races_path) do |f| %>
  <%= render(:partial => 'shared/errors', :object => @race) %>
  <%= render(:partial => 'form', :locals => { :f => f }) %>
<% end %>
