<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <%= render(:partial => 'shared/errors', :object => @user) %>
  <%= render(:partial => 'form', :locals => { :f => f }) %>
  <div class="form-group">
    <%= f.submit "Sign Up", :class => 'btn btn-default' %>
  </div>
<% end %>
