<h1>Edit race</h1>

<%= form_for(:race, :url => admin_race_path(@race), :method => :put) do |f| %>
  <%= render(:partial => 'form', :locals => { :f => f }) %>
  <p><%= f.submit 'Save', :class => 'btn btn-primary' %></p>
<% end %>
