<h1>New race</h1>

<%= form_for(:race, :url => admin_races_path) do |f| %>
  <%= render(:partial => 'form', :locals => { :f => f }) %>
  <p><%= f.submit 'Save', :class => 'btn btn-primary' %></p>
<% end %>
