<h1>New League</h1>

<%= form_for(@league, :url => say_what_leagues_path) do |f| %>
  <%= render(:partial => 'shared/errors', :object => @league) %>
  <%= render(:partial => 'form', :locals => { :f => f }) %>
<% end %>
