<h1><%= @driver.name %></h1>

<%= form_for(@driver, :url => admin_driver_path, :method => :put) do |f| %>
  <%= render(:partial => 'form', :locals => { :f => f }) %>
  <p><%= f.submit 'Save', :class => 'btn btn-primary' %></p>
<% end %>
