<h1>Drivers</h1>
<p><%= link_to 'Create', new_admin_driver_path %></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
<% @drivers.each do |driver| %>
  <tr>
    <td><%= link_to(driver.name, edit_admin_driver_path(driver)) %></td>
    <td><%= link_to(driver.team_name, edit_admin_team_path(driver.team)) %></td>
    <td><%= driver.country %></td>
  </tr>
<% end %>
  </tbody>
</table>
