<h1>New driver</h1>

<%= form_for(:driver, :url => admin_drivers_path) do |f| %>
  <%= render(:partial => 'form', :locals => { :f => f }) %>
  <p><%= f.submit 'Save', :class => 'btn btn-primary' %> <%= link_to('Cancel', admin_drivers_path, :class => 'btn btn-danger') %></p>
<% end %>
