body {
  padding: 15px;
}

a {
  cursor: pointer;
}

.cm-vrl-st-correct-calc-wrong {
  font-weight: bold;
  color: #F00;
}
.cm-vrl-st-correct-calc-correct {
  font-weight: bold;
  color: #00F;
}

.chart {
  width:98%;
  height:725px;
}
.sectors {
  width: 610px;
  height: 450px;
  float: left;
  border: solid 1px #F90;
  margin: 1px;
}

#wrapper {
  margin-top: 50px;
}

.progress .bar {
  height: 20px;
  background: #F00;
}

.finished {
  background: #3ec144 !important;
}

.help-popover {
  color: #00F;
}

.tab-content {
  padding-top:5px;
}

.screenshot_tick {
  list-style-image: url(/tick.png)
}

.screenshot_cross {
  list-style-image: url(/cross.png)
}
