body {
  padding: 15px;
}

a {
  cursor: pointer;
}

.no-padding-nav {
  padding: 0 !important;
  display: inline-block !important;
}

.cm-vrl-st-correct-calc-wrong {
  font-weight: bold;
  color: #F00;
}
.cm-vrl-st-correct-calc-correct {
  font-weight: bold;
  color: #00F;
}

.chart {
  height:725px;
}
.sectors {
  width: 510px;
  height: 550px;
  float: left;
  border: solid 1px #F90;
  margin: 1px;
}

#wrapper {
  margin-top: 50px;
}

.progress .bar {
  height: 20px;
  background: #F00;
}

.finished {
  background: #3ec144 !important;
}

.help-popover {
  color: #00F;
}

.tab-content {
  padding-top:5px;
}

.screenshot_tick {
  list-style-image: url(/tick.png)
}

.screenshot_cross {
  list-style-image: url(/cross.png)
}

.help-block-small {
  font-size: x-small;
}

#sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  width: 300px;
  background: #1f1f1f;
  overflow-y: hidden;
}

#page-content-wrapper {
  position: relative;
  height: 100%;
  margin-left: 300px;
  z-index: 2;
  overflow: hidden;
}

.nav-list > li > a {
  padding: 5px 15px;
}

.nav-list-1 {
  background: #272727;
  li a {
    padding-left: 10px;
  }
}

.nav-list-2 {
  background: #303030;
  li a {
    padding-left: 20px;
  }
}

.nav-list-3 {
  background: #383838;
  li a {
    padding-left: 30px;
  }
}

.nav-list-4 {
  background: #414141;
  li a {
    padding-left: 40px;
    font-variant:small-caps;
    text-transform:lowercase;
  }
}

@font-face {
  font-family: 'ostrich_sansblack';
  src: font-url('ostrich-black-webfont.eot');
  src: font-url('ostrich-black-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('ostrich-black-webfont.woff') format('woff'),
  font-url('ostrich-black-webfont.ttf') format('truetype'),
  font-url('ostrich-black-webfont.svg#ostrich_sansblack') format('svg');
  font-weight: normal;
  font-style: normal;
}

.brand {
  text-align: center;
  font-family: 'ostrich_sansblack', sans-serif;
  font-size: 60px;
  line-height: 1em;
  color: #FFF;
  margin-top: 10px;
  cursor: pointer;
}

.bottom {
  z-index: 1;
  border-top: solid 1px #000;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #1f1f1f;
  text-align: center;
  padding-top: 10px;
  color: #FFF;
}

.middle {
  overflow-y: auto;
}

.rlc-btn {
  width: 130px;
}

.rlc-btn-admin {
  width: 260px;
}
