body {
  padding: 15px;
}

a {
  cursor: pointer;
}

.cm-vrl-st-correct-calc-wrong {
  font-weight: bold;
  color: #F00;
}
.cm-vrl-st-correct-calc-correct {
  font-weight: bold;
  color: #00F;
}

.chart {
  width:100%;
  height:800px;
}
.sectors {
  width: 620px;
  height: 450px;
  float: left;
  border: solid 1px #F90;
  margin: 1px;
}

#wrapper {
  margin-top: 50px;
}
