// Place all the styles related to the leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.disqualified {
  background: rgb(0, 0, 0);
}

.retired {
  background: rgb(239, 207, 255);
}

.first-place {
  background: rgb(255, 255, 191);
}

.second-place {
  background: rgb(223, 223, 223);
}

.third-place {
  background: rgb(255, 223, 159);
}

.fourth-to-eighth-place {
  background: rgb(223, 255, 223);
}

.other-places {
  background: rgb(207, 207, 255);
}

.fastest-lap {
  font-style: italic;
}

.pole-position {
  font-weight: bold;
}
