<h1>Teams</h1>
<p><%= link_to 'Create', new_admin_team_path %></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
<% @teams.each do |team| %>
  <tr>
    <td><%= link_to(team.name, edit_admin_team_path(team)) %></td>
  </tr>
<% end %>
  </tbody>
</table>
